.about {
    min-height: 509px;
    padding-top: 33px;
    padding-bottom: 35px;
    background: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
}

.about__header {
    display: flex;
    font-size: 28px;
    color: #1B1C21;
    font-weight: 700;
}

.about__header::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
    left: 0;
}

/*SCROLL*/
.about__list {
    margin-top: 24px;
    overflow: scroll;
}

.about__link {
    display: inline-block;
    height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    font-weight: 400;
    border: 2px solid transparent;
    padding: 7px 12px 10px 12px;
}

.about__items {
    display: inline;
    padding: 7px 0 10px 0;
    display: inline;
    width: fit-content;
    white-space: nowrap;
 
}

/*LINKS STATUS*/
/*проверить, можно ли сократить*/
.about__link:focus,
.text__btn:focus {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

/*проверить, можно ли сократить*/
.about__link:hover,
.text__btn:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    cursor: pointer;
}

.about__img {
    margin-top: 16px;
    display: block;
    width: 110%;
    height: auto;
    transform: translateX(-5%);
}

/*TABLET VERSION*/
@media screen and (min-width: 768px) {
    .about {
        min-height: 416px;
        padding-top: 24px;
        padding-bottom: 40px;
        background: #F8F8F8;
        display: flex;
        flex-wrap: wrap;
    }

    .about__list {
        margin-top: 32px;
    }

    .about__img {
        position: static;
        width: 50%;
        height: auto;
    }
}

/*DESKTOP VERSION*/
@media screen and (min-width: 1440px){
    .about {
        min-height: 535px;
        padding-top: 38px;
        padding-bottom: 49px;
    }

    .about__header::before {
        display: inline-block;
        position: relative;
        content: "";
        width: 4px;
        height: 40px;
        background: #41F6D7;
        left: -32px;
    }

    .about__list {
        flex-wrap: wrap;
        overflow: scroll;
        width: 100%;
    }

    .about__link {
        width: auto;
        padding: 8px 8px 10px 8px;
    }
}
