.brands-main {
	overflow: hidden;
	padding: 16px;
	padding-right: 0;
	display: flex;
}

@media (min-width: 768px) {
    .brands-main {
		padding: 24px;
	}

	.brands-main::after {
		display: none;
		background: linear-gradient(270deg, #ff0000 16.84%, rgba(248, 248, 248, 0.0001) 100%);
	}
}

@media (min-width: 1120px) {
    .brands-main {
		padding: 24px 32px;
	}
}

.brands-main::after {
	content: "";
	display: block;
	width: 24px;
	height: 72px;
	margin-left: calc(100vw - 24px - 16px);
	z-index: 1;
	position: absolute;
	background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}


