.brands-title {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #7E7E82;
	text-transform: uppercase;
	border-top: 1px solid #D9FFF5;
	padding: 16px;
}

@media (min-width: 768px) {

	.brands-title {
		padding-left: 24px;
	}
}

@media (min-width: 1120px) {

	.brands-title {
		padding-left: 32px;
	}
}