.brands-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.brands-list__item:last-child {
	padding-right: 16px;
}

.brands-list__link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 240px;
	height: 72px;
	background-color: #ffffff;
	border: 1px solid #EAEAEA;
	border-radius: 6px;
	padding: 0 16px;
}

.brands-list__link:hover {
	border: 1px solid #FF3E79;
}

@media (min-width: 768px) {

	.brands-list {
		display: flex;
		height: 160px;
		flex-wrap: wrap;
		overflow: hidden;
		row-gap: 16px;
		column-gap: 24px;
		justify-content: space-between;
	}

	.brands-list::after {
		content: "";
		width: 224px;
		height: 72px;
		background-color: transparent;
	}

	.brands-list__item:last-child {
		padding-right: 0;
	}

	.brands-list__link,
	.brands-list__item{
		width: 224px;
	}
    
    /*expand button*/
	.brands-list--opened {
		height: auto;
	}

	

	.button-open::before {
		transform: rotate(180deg);
	}
}

@media (min-width: 1120px) {
	.brands-list {
		column-gap: 32px;
	}

	.brands-list::after {
		width: 240px;
	}

	.brands-list__link,
	.brands-list__item {
		width: 240px;
	}

}