.expand {
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    line-height: 24px;
    padding-bottom: 16px;
    padding-right: 172px;
}

.expand__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.expand__text {
    display: inline-block;
    min-width: fit-content;
    line-height: 24px;
    font-family: 'TT Lakes';
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 700;
    font-style: bold;
}


.expand__link, .head-1120__link {
    color: #1B1C21;
    text-decoration: none;
}
.expand__link:hover, .head-1120__link:hover {
    color:   #7E7E82;
}

.expand__link, .head-1120__link:active {
    color: #1B1C21;
}


@media(min-width: 768px) {
    .expand {
        padding-top:0;
        padding-bottom: 54px;
        padding-left: 25px;
        padding-bottom: 54px;
    }

    .expand-button {
		padding: 0;
		padding: 24px 24px 0px 0px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
	}

	.expand-button:hover {
        color:#FF3E79;
	} 

	.expand-button::before {
		padding: 0;
		margin: 0;
		content: "";
		width: 27px;
		height: 33px;
		background-image: url(../img/expand.svg);
		background-size: 27px 33px;
	}
}

@media(min-width: 1120px){
    .expand{
        padding-bottom: 149px;
    }
}