.feedback-request {
    height: 100vh;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 24px;
    padding-left: 16px;
    background-color: #FFFFFF;
    top: 0;
    right: 0;
    z-index: 2;
    //transition: all 1s;
}

.feedback-request__button-close {
    background: #FF3E79 url("../img/close.png") center center no-repeat;
    margin-right: 16px;
}

.feedback-request__body {
    margin-top: 32px;
}

.feedback-request__title {
    display: flex;
    font-size: 28px;
    color: #1B1C21;
    font-weight: 700;
}

.feedback-request__title::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
    left: 0;
}

.feedback-request__form {
    margin: 24px auto;
}

.feedback-request__input {
    //width: 288px;
    width: 90%;
    max-width: 376px;
    height: 48px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 12px 16px;
}

.message-request__text {
    height: 188px;
    width: 90%;
    max-width: 376px;
}

.feedback-request__agreement {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #7E7E82;
}

.feedback-request__link {
    text-decoration: none;
    color: #FF3E79;
}

.feedback-request__button {
    margin-top: 19px;
    margin-right: 32px;
    float: right;
}


@media screen and (min-width: 1440px) {
    .feedback-request {
        width: 440px;
        padding-left: 32px;
    }

    .feedback-request__header {
        height: 0;
        position: relative;
    }

    .feedback-request__button-close {
        position: absolute;
        left: -96px;
    }

    .feedback-request__body {
        margin-top: 0;
    }

    .feedback-request__input {
        width: 376px;
    }

    .feedback-request__button {
        margin-left: 250px;
    }
}

.feedback-request--call--hidden {
    transition: 1s;
    transform: translateX(100%);
    display: none;
}

.feedback-request--call--visible {
    transition: 1s;
    transform: translateX(0);
}

.feedback-request--message--hidden {
    transition: 1s;
    transform: translateX(100%);
    display: none;
}

.feedback-request--message--visible {
    transition: 1s;
    transform: translateX(0);
}