.image {
    margin: 0;
    width: 320px;
    height: 176px;
    padding-bottom: 16px;
}

@media(min-width: 768px) {
    .image {
        align-self: center;
        width: 360px;
        height: 208px;
        padding-bottom: 40px;
        padding-right: 40px;
        padding-left: 0;
        border-radius: 6px;
    }
}

@media(min-width: 1120px) {
    .image {
        width: 531px;
        height: 307px;
        padding-bottom: 49px; 
        padding-right: 28px;
        align-self: center;
        border-radius: 6px;
    }
}