.list {
    list-style: none;
    display: flex;
    align-items: center;

    &--scrollbar--hidden::-webkit-scrollbar {
        display: none;
    }

    &--scrollbar--hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
