.list {
    list-style: none;
    display: flex;
    align-items: center;
}

.list--scrollbar--hidden::-webkit-scrollbar {
    display: none;
}

.list--scrollbar--hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
