.logo {
    padding: 0;
    display:block;
    width: 97px;
    height: 51px;
    background-color: inherit;
    border: 1px transparent;
}

.menu-header__logo {
   margin-top: 18px;
   margin-left: 16px;
   margin-right: auto;
}