.menu-block {
    min-width: 320px;
    max-width: 320px;
    height: 100vh;
    min-height: 676px;
    max-height: 1024px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 
    -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
    background: white;
    position: absolute;
    top: 0;
    z-index: 2;
    transition: transform 1s;
}

.menu-block--hidden {
    transform: translateX(-100vh);
}

.menu-block--visible{
    transform: translateX(0);
}