.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    padding-top: 32px;
    list-style-type: none;
}

.nav-list__item {
    display: block;
    margin-left: 24px;
    margin-bottom: 32px;
    text-decoration: none;
    color: #1B1C21;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    font-style: normal
}


.nav-list__item--current {
    color: #7E7E82;
    margin-left: 21px;;
}

.nav-list__item--current::before {
    display: inline-block;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    content: "";
    border-radius: 0 5px 5px 0;
    position: relative;
    left: -21px;
    top: 10px; 
}

.nav-list__item:hover {
    color:#FF3E79;
}

.nav-list__item:active {
    color: gray;
}
