@import "variables";

.price {
    background-color: $color-bg;
    height: 508px;
    transition: transform 1s;

    @media screen and (min-width: 768px) {
        height: 568px;
    }

    @media screen and (min-width: 1440px) {
        width: 1120px;
        transform: translateX(320px);
    }

    &__body {
        margin-top: 16px;
        height: 240px;

        @media screen and (min-width: 768px) {
            margin-top: 16px;
            height: max-content;
        }
    }

    &__list {
        list-style: none;
        width: 260px;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            height: max-content;
            width: 100%;
            border-radius: 6px;
        }
    }

    &__item--mobile--hidden {
        display: none;

        @media screen and (min-width: 768px) {
            display: list-item;
        }
    }

    &__box {
        width: 260px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding: 16px;
        background: $color-white;
        border: 1px solid $color-divider;
        border-radius: 6px;
        font-family: 'TT Lakes', sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $color-black;

        @media screen and (min-width: 768px) {
            position: relative;
            flex-direction: row;
            //justify-content: left;
            width: 100%;
            height: 56px;
            border: none;

            //Divider
            &::after {
                position: absolute;
                content: '';
                width: 95.55%;
                height: 1px;
                background: #EAEAEA;
                bottom: 0;

                &:last-child {
                    content: none;
                }
            }
        }
    }

    &__headers {

        @media screen and (min-width: 768px) {
            background: $color-gray-light;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            color: $color-gray;
            mix-blend-mode: normal;
            opacity: 0.72;
            align-items: end;
        }

        &-button {
            visibility: hidden;
        }
    }

    &__text {
        position: relative;
        top: 15px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: $color-black;
        font-weight: 300;

        @media screen and (min-width: 768px) {
            position: static;
        }
    }

    &__position::before {
        content: 'Ремонтные услуги';
        position: absolute;
        top: -20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: $color-gray;
        mix-blend-mode: normal;
        opacity: 0.72;
    }

    &__money::before {
        content: 'Цена';
        position: absolute;
        top: -20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: $color-gray;
        mix-blend-mode: normal;
        opacity: 0.72;
    }

    &__time::before {
        content: 'Срок';
        position: absolute;
        top: -15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: $color-gray;
        mix-blend-mode: normal;
        opacity: 0.72;
    }

    &__position::before,
    &__money::before,
    &__time::before {
        @media screen and (min-width: 768px) {
            content: none;
        }
    }

    &__position {
        @media screen and (min-width: 768px) {
            flex-basis: 350px;
        }
    }

    &__money {
        @media screen and (min-width: 768px) {
            flex-basis: 74px;
        }
    }

    &__time {
        @media screen and (min-width: 768px) {
            flex-basis: 81px;
        }
    }

    &__button {
        width: 119px;
        height: 32px;
        position: absolute;
        bottom: 16px;
        right: 16px;
        background: $color-pink;
        border: $color-pink;
        border-radius: 16px;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.15px;
        text-align: left;
        padding-left: 12px;
        text-transform: uppercase;
        color: $color-white;

        &:hover {
            background-color: gray;
            transform: scale(1.3);
            opacity: 0.5;
            transition: opacity 0.5s, transform 0.3s;;
        }
    
        &:active {
            opacity: 1;
            background-color: $color-pink;
        }

        @media screen and (min-width: 768px) {
            position: relative;
            //position: absolute;
            bottom: 0;
            right: 0;
        }

        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-right: 2px solid $color-white;
            border-bottom: 2px solid $color-white;
            transform: rotate(-45deg);
            top: 12px;
            right: 12px;
        }
    }

    &__text-request {
        margin-top: 16px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        letter-spacing: 0.2px;
        color: $color-black;

        @media screen and (min-width: 768px) {
            width: 421px;
        }

        @media screen and (min-width: 1440px) {
            width: 1056px;
            margin: 24px 0 0 24px;
            padding: 0;
            transform: translateX(0);
        }
    }

    &__link {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: -0.2px;
        color: $color-black;
        
        &:hover {
            color: $color-pink;
        }

        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-right: 2px solid $color-pink;
            border-bottom: 2px solid $color-pink;
            transform: rotate(-45deg);
            bottom: 6px;
            right: -15px;
        }
    }
    &__container {
        @media screen and (min-width: 768px) {
            height: 360px;
        }
        @media screen and (min-width: 1440px) {
            transform: translateX(0);
        }
    }

    &__title {
        @media screen and (min-width: 1440px) {
            transform: translateX(320px);
        }
    }
}