.repair-brands {
    background-color: #F2F2F2;
    height: 220px;
    transition: transform 1s;
}

.repair-brands__container {
    margin: 16px 0 0 16px;
    height: 100px;
    padding-right: 16px;
}

.repair-brands__list {
    list-style: none;
    width: 240px;
}

.repair-brands__item:last-child {
    margin-right: 9px;
}

.repair-brands__button {
    position: relative;
    width: 240px;
    height: 72px;
    background-color: #FFFFFF;
    border: 2px solid #EAEAEA;
    border-radius: 6px;
    cursor: pointer;
}

.repair-brands__button::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    top: 13px;
    right: 16px;
}

.repair-brands__button::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-right: 2px solid #FF3E79;
    border-bottom: 2px solid #FF3E79;
    transform: rotate(-45deg);
    top: 30px;
    right: 34px;
}

.repair-brands__button:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.repair-brands__button:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.repair-brands__icon {
    position: absolute;
    left: 16px;
    top: 0;
}

//Brands
.repair-brands__lenovo {
    top: 21px;
}

.repair-brands__samsung {
    top: 18px;
}

.repair-brands__apple {
    top: 12px;
}

.repair-brands__viewSonic {
    top: 25px;
}

.repair-brands__bosch {
    top: 22px;
}

.repair-brands__hp {
    top: 10px;
}

.repair-brands__acer {
    top: 25px;
}

.repair-brands__sony {
    top: 23px;
}

//TABLET VERSION
@media screen and (min-width: 768px) {
    .repair-brands {
        height: max-content;
        padding-bottom: 32px;
    }

    .repair-brands__container {
        margin: 16px 0 0 16px;
        transition: height 1s;
    }

    .repair-brands--overflow--hidden {
        height: 160px;
    }

    .repair-brands--overflow--visible {
        height: max-content;
    }

    .repair-brands__list {
        display: flex; 
        list-style: none;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        row-gap: 16px;
		column-gap: 24px;
		justify-content: space-between;
    }

    .repair-brands__list::after {
		content: "";
		width: 224px;
		height: 72px;
		background-color: transparent;
    }

    .repair-brands__item {
        width: 224px;
        height: 72px;
    }
    .repair-brands__button {
        width: 224px;
    }
}

//DESKTOP VERSION
@media screen and (min-width: 1440px){
    .repair-brands {
        width: 1120px;
        transform: translateX(320px);
    }

    .repair-brands__container {
        margin: 24px 0 0 24px;
    }

    .repair-brands__list {
        row-gap: 16px;
    }

    .repair-brands__item {
        width: 240px;
    }
    .repair-brands__button {
        width: 240px;
    }
}