.repair-techs {
    background-color: #F2F2F2;
    height: 308px;
    transition: transform 1s;
}

.repair-techs__body {
    margin-top: 16px;
    height: 190px;
}

.repair-techs__list {
    list-style: none;
    width: 240px;
}

.repair-techs__button {
    width: 240px;
    height: 160px;
    display: flex;
    position: relative;
    padding: 16px 0 0 16px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.repair-techs__button::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    bottom: 16px;
    right: 16px;
}

.repair-techs__button::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-right: 2px solid #FF3E79;
    border-bottom: 2px solid #FF3E79;
    transform: rotate(-45deg);
    bottom: 33px;
    right: 34px;
}

.repair-techs__button:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.repair-techs__button:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

//TABLET VERSION
@media screen and (min-width: 768px) {
    .repair-techs {
        height: max-content;
        padding-bottom: 32px;
    }

    .repair-techs__container {
        width: 100vw;
        padding: 0;
    }

    .repair-techs--overflow--hidden {
        height: 160px;
    }

    .repair-techs--overflow--visible {
        height: max-content;
    }

    .repair-techs__list {
        display: flex;
        justify-content: space-around;
        list-style: none;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        row-gap: 16px;
    }

    .repair-techs__list::after {
		content: "";
		width: 224px;
		height: 72px;
		background-color: transparent;
    }

    .repair-techs__item {
        width: 224px;
        height: 160px;
    }
    .repair-techs__button {
        width: 224px;
    }
}

//DESKTOP VERSION
@media screen and (min-width: 1440px){
    .repair-techs {
        width: 1120px;
        transform: translateX(320px);
    }

    .repair-techs__container {
        width: 1120px;
        padding: 0;
        transform: translateX(0);
        margin: 24px 0 0 0;

    }

    .repair-techs__title {
        transform: translateX(0);
    }

    .repair-techs__list {
        row-gap: 16px;
    }

    .repair-techs__item {
        width: 240px;
    }
    .repair-techs__button {
        width: 240px;
    }
}