.show-more-btn {
    display: none;
}

@media screen and (min-width: 768px) {
    
    .show-more-btn {
        margin-top: 24px;
        margin-left: 20px;
        display: block;
        width: 120px;
        height: 24px;
        background: url("../img/arrow-down.png") no-repeat left 50%;
        font-family: 'TT Lakes', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        text-align: right;
        border: none;
        cursor: pointer;
    }

    .show-more--clicked {
        background: url("../img/arrow-up.png") no-repeat left 50%;
        width: 80px;
    }
}