.side-header {
    height: 116px;
    width: 100vw;

    @media screen and (min-width: 768px) {
        width: 320px;
    }

    &__logo{
        width: 98px;
        margin-right: 58px;
    }

    &__button-close {
        background: url("../img/close.png") center center no-repeat;
        margin-right: 16px;

        @media screen and (min-width: 1440px) {
            display: none;
        }
    }

    &__button-search {
        background: url("../img/search.png") center center no-repeat;
    }

    &__list {
        margin-top: 19px;
    }

    &__item:last-of-type {
        margin-left: auto;
    }
}
