.swiper-pagination {
    transform: translate(-5px, 15px);

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #B5B6BC;
}
