.swiper {
	height: 116px;
}

.swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #B5B6BC;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 6px;
}

@media (min-width: 768px) {
	.swiper {
		width: auto;
		height: auto;
	}

	.swiper-pagination {
		display: none;
	}
}