.text {
    width: 100%;
}

.text__container {
    height: 98px;
    overflow: hidden;
    margin-bottom: 14px;
}

.text--overflow--hidden {
    height: 98px;
}

.text--overflow--visible {
    height: max-content;
}

.text__paragraph {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

@media screen and (min-width: 768px) {
    .text {
        width: 43.4%;
    }

    .text__container {
        height: 160px;
        overflow: hidden;
    }

    .text__paragraph {
        line-height: 20px;
    }

    .text--overflow--hidden {
        height: 160px;
    }
    
    .text--overflow--visible {
        height: max-content;
    }
}

@media screen and (min-width: 1440px){
    .text {
        width: 46.22%;
    }

    .text__paragraph {
        line-height: 20px;
    }
}