.text {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 43.4%;
    }

    @media screen and (min-width: 1440px){
        width: 46.22%;
    }

    &__container {
        height: 98px;
        overflow: hidden;
        margin-bottom: 14px;

        @media screen and (min-width: 768px) {
            height: 160px;
            overflow: hidden;
        }
    }

    &--overflow--hidden {
        height: 98px;

        @media screen and (min-width: 768px) {
            height: 160px;
        }
    }

    &--overflow--visible {
        height: max-content;
    }

    &__paragraph {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;

        @media screen and (min-width: 768px) {
            line-height: 20px;
        }

        @media screen and (min-width: 1440px){
            line-height: 20px;
        }
    }
}
