$color-pink: #FF3E79;
$color-white: #FFFFFF;
$color-black: #1B1C21;
$color-marine: #41F6D7;
$color-marine-light: #B8FFEC;
$color-gray: #7E7E82;
$color-gray-light: #F8F8F8;

$color-bg: #F2F2F2;
$color-divider: #EAEAEA;

//Разрешения
$screen-md: 768px;
$screen-large: 1440px;
